<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Archive For Interesting Problems</h1>

<div class="fillups">
<form action="/register" method="post">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for ="link"> Problem Link: </label>
  <input type="text" id="link" name="link"><br><br>
  <label for="Difficulty" > Difficulty</label>
  <input type="number" id = "diff" name = "Difficulty"><br><br>
  <input type="submit" value="Submit"> <br><br>
</form>
</div>
<p>  Click on the submit button to save your data.</p>
<div>
  Click to access the archive submitted by various people.
  <br> <br>
  <a href="./showarchive"> Click Here </a>
</div>



</body>
</html>    